<%- include('boilerplate/header'); -%>

  <%- include('trackcard'); -%>

<!-- About -->
    <div>
        <section class="container mx-auto px-6 px-12 p-10">
            <h2 class="text-5xl font-bold text-center text-gray-800 mb-8">
              Why Axeon?
            </h2>
            <div class="flex items-center flex-wrap mb-20">
              <div class="w-full md:w-1/2">
                <h4 class="text-3xl text-gray-800 font-bold mb-3"> Service</h4>
                <p class="text-gray-600 mb-8">We are Blazing Fast ✨ ! 📦Axeon Courier and Transportation Services Private Limited have its website .  which provides online booking of Couriers and Transportation service through your phone at your home.</p>
              </div>
              <div class="w-full md:w-1/2">
                <img class="ml-0 md:ml-32" src="../delivery-service.png" width="300" height="300">
              </div>
            </div>
          
            <div class="flex items-center flex-wrap-reverse md:flex-wrap mb-20">
              <div class="w-full md:w-1/2">
                <img class="ml-0 md:ml-32 mt-12" src="../pricing.png" width="260" height="260">
              </div>
              <div class="w-full md:w-1/2">
                <h4 class="text-4xl text-gray-800 font-bold mb-3">Low Price</h4>
                <class class="text-md text-gray-600 mb-12">Cheapest Price guaranteed in the city✨ !<br/>It provides a various payment method as COD, UPI, Net Banking Paytm, Credit and Debit card.</class>
              </div>
            </div>
          
            <div class="flex items-center flex-wrap mb-20">
              <div class="w-full md:w-1/2">
                <h4 class="text-3xl text-gray-800 font-bold mb-3">Live Tracking and 24/7 Support</h4>
                <p class="text-gray-600 mb-8">🚛Smart Tracking system to track your order and payment without any Hassels ! We provide same-day delivery up to 50 Km for objects up to 30 Kg of weight...</p>
              </div>
              <div class="w-full flex items-center justify-center md:w-1/2">
                <img class="ml-0 md:ml-32" src="../route.png" width="260" height="260">
              </div>
            </div>
          </section>
    </div>



    <!-- vechiles -->



    <!-- component -->

    <!-- //extra fieldset -->
<!-- component -->
<div class="flex items-center justify-center mx-5">
  <div class="w-full  mb-2 justify-center rounded-lg text-white bg-gray-900">
     <h3 class="text-white p-3 md:text-2xl lg:text-2xl text-lg"></h3>
     <div class="p-5 pt-1 flex-wrap  flex items-center gap-2 justify-center">
        <div class="bg-gradient-to-r flex-auto  w-42 h-42  from-gray-800 to-gray-700    shadow-lg    rounded-lg">
           <div class="md:p-7 p-4">
              <h2 class="text-xl text-center text-gray-200 capitalize">20₹</h2>
              <h3 class="text-sm  text-gray-400  text-center">Packing Charges </h3>
           </div>
        </div>
        <div class="bg-gradient-to-r flex-auto w-42 h-42  from-gray-800 to-gray-700    shadow-lg    rounded-lg">
           <div class="md:p-7 p-4">
              <h2 class="text-xl text-center text-gray-200 capitalize">100₹</h2>
              <h3 class="text-sm  text-gray-400  text-center">minimum order amount</h3>
           </div>
        </div>
        <div class="bg-gradient-to-r flex-auto  w-42 h-42  from-gray-800 to-gray-700    shadow-lg    rounded-lg">
           <div class="md:p-7 p-4">
              <h2 class="text-lg text-center text-gray-200 capitalize">
                  <span>12 hour</span>
                  <span>-</span>
                  <span>24 hour</span></h2>
              <h3 class="text-sm  text-gray-400  text-center">estimated delivery time</h3>
           </div>
        </div>
        <div class="bg-gradient-to-r flex-auto  w-42 h-42  from-gray-800 to-gray-700 shadow-lg  rounded-lg">
           <div class="md:p-7 p-4">
              <h2 class="text-lg text-center text-gray-200 capitalize" style="">Dehradun</h2>
              <h3 class="text-sm  text-gray-400  text-center">city</h3>
           </div>
        </div>
     </div>
  </div>
  </div>

    <!-- Cards -->
    <%- include('card'); -%>

    <%- include('services'); -%>
    
     <!-- Footer -->
    

    <%- include('boilerplate/footer'); -%>
